/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body { 
    
    margin: 0px;
    padding:0 50px 0 50px;
   
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
p {/* Mis comme sur la maquette */
    color: #000;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/********** Mes ajouts **********/

/******* HEADER ******/

header {
    display: flex ;
    justify-content: space-between;
    align-items: flex-start;
}
    
.header  {
    height: 1.2rem;
    margin-top: 35px;
    padding: 30px 50px;
    width: 32px; 

}

.logo img {
    width: 61.09px;
    height: 19px;
    padding-top: 28px;

}

nav a{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
    border-top: 2px solid transparent;
    padding-top: 35px;
}
    
nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
    
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 68px;
}

/********** RECHERCHE **********/
.info-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    box-sizing: border-box;
    width: 100%;
    height: auto; 
    margin-top: 30px; 
}

.search-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
    margin-bottom: 35px;
}

.fa-location-dot{
    color: black;
}

.search-label{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0  15px;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.search-text input{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 198px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    color: black;
}   

/* Le bouton rechercher ne dois pas fonctionner */
.search-submit-large input {
    display: block;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding-left: 6px;
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
    box-sizing: border-box;
    opacity: 0.9;
    background: #0065fc;
}    

/* Effet hover au survol de la souris */
.search-submit-large input:hover {
    opacity: 1;
}

.fa-magnifying-glass {
    display: none;
}

input {
    outline: none;
}

/* RECHERCHE PAR FILTRES */

.container-filtres {
    display: flex;
    height: 50px;
    width: auto;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-div {
    width: 50%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.button-div button {
    font-size: 14px;
    white-space: nowrap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-buttons {
    display: flex;
    background-color: white;
    height: 50px;
    width: 100%;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    border-radius: 25px;
    padding: 5px 19px 5px 19px;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

/* Effet au survol de la souris */
.filter-buttons:hover {
    background-color: var(--filter-bg-color);
}

.filter-buttons i {
    font-size: 1em;   
    padding-right: 10px;
}

/*  BARRE INFO */
.info-icon {
    display: flex;
    align-items: center;
    color: #0065fc;
    margin-top: 35px;
    margin-bottom: 35px; gap: 10px;
    width: 100%;
}

/* Mise en place du cercle autour du  i info */
.info-cercle {
    width: 24px;
    height: 24px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: -10px;
    display: flex;
    justify-content: center;
   
}

.info-icon span {
    margin-left: 1%;
    color: black;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

/****** Hebergements And Populaires  (code fourni) ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color );
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/********** Populaires ***********/
.populaires {
    width: 32%;
    padding-right: 30px;
}

.populaires-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 0px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box
}

.populaires-cards .card-title {
    margin-top: 4px;
    flex-wrap: wrap;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* SECTION HEBERGEMENTS */
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.container-hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    box-sizing: border-box;
       
}

.hebergements-title{
    font-size: 22px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 15.833vw;
    height: 248px;
    justify-content: space-between;
    box-sizing: border-box;
    flex-shrink: 1;
}

/* Application de object-fit  (qualité img)*/
.hebergements-cards img {
    width: 15.139vw;
    height: 150px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    width: 13vw;;
    height: 50px;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 0px 20px 20px;
    gap: 8px;
    padding: 0 15px;
    flex:1 0 0;
    flex-shrink: 1;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1); /* application de box-shadow */
}

.hebergements-cards .card-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 4px;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    margin: 8px 0px;    
}

.hebergements-cards .card-rating {
    display: flex;
    width: 14.294px;
    height: 13.25px;
    flex-shrink: 0;
}

/* Mis sous forme de lien*/
.afficher-plus {
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding-top: 30px;
}



/*ACTIVITES MARSELLE */
.activites {
    display: flex;
    flex-direction: column;
    height: auto; 
    margin-top: 35px; 
    justify-content: space-around;
    background-color: #FFFFFF;
}

/* Mise en blanc du background-color */
.activites-marseille section {
    display: flex;
    flex-direction:column ;
    box-sizing: border-box;
    border-radius: 25px;
    align-items: flex-start;
    box-sizing: border-box;
    background: var(--White, #FFF);
    width: 100%;
    padding: 30px;
}

.activites-title {
    margin: 0;
    font-size: 22px; 
    padding-left: 30px;
}

.container-activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    gap: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.activites-cards{
    display: flex;
    width: 100%;
    height: 380px;
    flex-shrink: 0;
    align-self: stretch;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.card-activites {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 16.150vw;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activites-cards .card-activites  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.85vw;
    height: 316px;
    border: 0px;
}

.activites-cards img {
    width:100%;
    height: 238px;
    
    flex-shrink: 0;
    align-self: stretch;    
    gap: 4px;
    border-radius: 20px 20px 0px 0px; 
}

.activites-cards .card-content {
    display: flex;
    flex-wrap: wrap;
    height: 439px;
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 4px 19px;
    flex: 1 0 0;
    border-radius: 0  0 20px 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activites-card .card-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 0px 0px 20px 20px;
    background: var(--White, #FFF);
    padding:20px 19px ;
}


/* SECTION FOOTER  */
.footer {
    width:auto;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
    justify-content: center;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-bloc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    flex: 1 0 0;
    
    
}

.footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: -18.75px 0px 0px 0px;
   
}

.footer-link{
    font-size: 16px;
    font-weight: 400;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/*&* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px){
    
    header {
        display: flex;
        flex-direction: row;
    }

    .logo img{
        width: 61.09px;
        height: 1.2rem;
        padding-top: 30px; 
        margin: 0px 0px;
    }

    nav buttons {
        display: flex;
        align-items: center;

    }
     nav a:hover{
        color: #0065FC;
        border-top: 2px solid #0065FC;
    }

    .search-submit-large input {
        display: block;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
        height: 50px;
        color: #ffffff;
        padding-left: 6px;
        border: 1px solid #0065fc;
        border-radius: 0 15px 15px 0;
        box-sizing: border-box;
        opacity: 0.9;
        background: #0065fc;
    }    
    
    .search-submit-large input:hover {
        opacity: 1;
    }
    
    .fa-magnifying-glass {
        display: none;
    }
    
    input {
        outline: none;
    }
      
/* Section hebergements */

    .hebergements-and-populaires {
        flex-direction: column;
    }
  
    .hebergements {
        width: 100%;
    }

    section hebergements,
    .hebergements-cards {
        background-color: var(--main-bg-color);
    }

/* Hebergements marseille passe  en dessus de populaires */
    .container-hebergements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
        box-sizing: border-box;
    }
    
    .hebergements-cards a {
        width: 30%;
    } 

    .hebergements-cards .card {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        height: 220px;
    }

    .hebergements-cards img {
        width: 100%;
        height: 123px;
    }
    
    .hebergements-cards .card-content {
        width: 88%;
        height: 53px;
        display: flex;  
    }

/* SECTION POPULAIRES */
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
   
    .populaires-cards a {
        width: 30%;
    }
    
    .populaires-cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    populaires section {
        display: flex;   
    }
    
    /* Section Activites */
    .section-title {
        margin-top: 30px;
    }

    .activites-cards .card-activites  {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 18.817vw;
        min-width: 16.81vw;;
        height: 270px;
        border: 0px;  
    }

    .card-activites {
        display: flex;
        background-color: white;
        border-radius: 20px;
        width: 16.150vw;
        height: 270px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    .activites-cards img {
        width:100%;
        height: 190px;
        flex-shrink: 0;
        align-self: stretch;    
        gap: 4px;
        border-radius: 20px 20px 0px 0px; 
    }

    .container-activites {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 30px;
        box-sizing: border-box;
    }

    .activites-cards {
        height: 301px;
    }

    .activites-cards .card-content {
        display: flex;
        height: 5.762vh;
        max-width: 16vw;
        flex-direction: column;
        align-items: flex-start;
        background-color: #FFFFFF;
        padding: 4px 15px;
        flex: 1 0 0; 
    }  

/* Section Footer */

    .footer-bloc {
        width: 100%;
    }
}


/*&* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px) {
        
    body {
        display: flex;
        padding: 0px;
    }

    /* passage du header en column*/
    header {
        flex-direction: column;
        align-items: center;
        
    }

    .buttons {
        width: 90%;
        gap: 120px;
        justify-content: center;
    }
    
    .search-form {
        width: 290px;
        height: 49px;
        position: relative;
    }

    /* Passage en dessous du border-top */
    nav a:hover {  
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    .info-group section { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 0px 20px;
    }
    
    h1 {
        display: flex;   
        width: 100%;
        height: auto;
        margin: 0px;
    }
    
    p {
        font-size: 16px;
        margin: 0px;
    }
    
    /* Barre de Recherche */
    .search-form {
        width: 98%;
    }

    .search-text input,
    .search-text{
        width: 100%;
    }
    
    .search-submit-large {
        border-radius: 15px;
    }

    /* Transformation du boutton rechercher en Loupe */
    .search-submit-large input{
        display: none;
    }

    .fa-magnifying-glass {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        color: #ffffff;
        padding: 15px 16px;
        gap: 10px;
        border: 1px solid #0065fc;
        border-radius: 15px;
        box-sizing: border-box;
        background: #0065fc;
    }

    /* Filtres */
    /* passage de filtres en column */
    .container-filtres {
        display: flex;
        flex-direction: column;
        height: 175px;
        width: 95vw;
        align-items: flex-start;
    }
        
    .title-filtres{
        margin: 0px 0px 20px 0px;
    }

    div .button-div {
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        height: 75%;
        gap: 10px;
    }

    .button-div button {
        width: 45.635vw ;
        height: 50px;
        padding: 4px 19px;
        align-items: center;
        margin: 0px;
    }

    #text {
        font-size: 14px;
    }
    
    .info-icon {
        min-width: 24px;
        min-height: 24px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    /* Section HEBERGEMENTS MARSEILLE */
    /* changement de couleur du background */
     .hebergements,
     #hebergements  {
        padding: 30px 20px;
        border-radius: 0px;
        width: 100%;
        background-color: #FFFFFF;
    }
    .hebergements {
        padding: 20px;
    }
    
    .container-hebergements {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .hebergements-cards .card {
        display: flex;
        margin-top: 0px;
        height: 320px;
        width: 100%;
        gap: 4px;
        margin-top: 15px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards  a,
    .activites-cards a {
      width: 100%;
    }

    .hebergements-cards img {
        width: 100%;
        height: 228px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    
    .hebergements-cards .card-content {
        width: 100%;
        height: 198px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }     

    .hebergements-cards .card-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-size: 16px;
        margin-bottom: -2px;
        margin-top: 4px;
    }

    .afficher-plus {
        background-color: #FFFFFF;
        font-size: 18px;
    }

    /* Section Populaires */
    /* Passage de Populaires au dessus d'Hébergements */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .hebergements-and-populaires section {
        padding: 30px 20px;
        border-radius: 0px;
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 30px;
        order: 1;
    }
    
    .section-title {
        margin: 0px;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
    }
    
    .populaires-cards .card {
        display: flex;
        margin-top: 15px;
        height: 146px;
        max-width: 91.81vw;
        min-width: 83.8vw;
    }

    .populaires-cards img {
        width: 15.645vw;
        height: 146px;
    }
    
    .populaires-cards a {
        width: 100%
    }
    
    .populaires-cards .card-content {
        width: 203px;
        height: 121px;
        padding: 10px 5px 5px 15px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        box-sizing: border-box
    }  

    .populaires-cards .card-title {
        font-size: 16px;
    }

    /* Section Activites */
    .activites-marseille {
        height: 100%;
        padding: 30px;
    }
    
    .activites-title {
        margin-bottom: 16px;
        padding-left: 0px;
    }  
    /* Passage en column   */                                                     
    .container-activites {
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 15px;
    }
    
    .card-activites {
        display: flex;
        background-color: white;
        border-radius: 20px;
        width: 16.150vw;
        height: 270px;
    }
    
    .activites-cards{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .activites-cards .card-activites  {
        display: flex;
        align-items: center;
        width: 100%;
        height: 280px;
        border: 0px;
        flex-grow: 1;
        flex-shrink: 1;
        
    }
    
    .activites-cards img {
        
        width:100%;
        height: 208px;
        object-fit: cover;
        flex-shrink: 1;
        flex-grow: 1;
        align-self: stretch;    
        border-radius: 20px 20px 0px 0px;
    }
    
    .activites-cards .card-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 19px;
        box-sizing: border-box;
        height: 194px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .card-title {
        margin: 0px;
    }
    
    /* FOOTER */
    .footer {
        padding: 30px;
        margin: 0px;
        height: 355px;
        flex-basis: 100%;
    }
    /* Passage en column */
    .container-footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .footer-bloc {
        padding: 0px;
        margin-bottom: 0px;
    }  

    .footer-title {
        font-size: 18px;
    }   
}